@model IEnumerable<CodeFirst_CC.Models.Movie>
@{
    ViewBag.Title = "MovieYear";
}

<h2>MovieYear</h2>

<table class="table">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Date of Release</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.MovieName</td>
                <td>@m.DateOfRelease.ToString</td>
            </tr>
        }
    </tbody>
</table>

