@model List<CodeFirst_CC.Models.Movie>
@{
    ViewBag.Title = "ReleasedInYear";
}

<<h2>Movies Released in Year @ViewBag.Year</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Movie Name</th>
                <th>Date of Release</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.MovieName</td>
                    <td>@m.DateOfRelease.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No movies found for the specified year.</p>
}

